.container {
    display: flex;
    justify-content: space-between;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;

    svg {
        vertical-align: bottom;
    }
}

