.container {
    display: flex;
    justify-content: space-between;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: var(--mid-grey);
}

.container svg {
    vertical-align: bottom;
}

.theme-complete {
    color: var(--success-green);
}

.theme-warning {
    color: var(--warning-red);
}

.theme-focus {
    color: var(--white);
}

.theme-highlight {
    color: var(--highlight-blue);
}

