:root {
  --white: #FFFFFF;
  --mid-grey: #B2B2B2;
  --dark-grey: #3F3F3F;
  --success-green: #267A2E;
  --warning-red: #AD1B1A;
  --highlight-blue: #1A80CA;
  --theme-blue: #1B2438;
  --theme-purple: #2A1A38;
  --theme-dark: #0F1521;
}